p{
    color: red;
}

#para1{
    color: yellow;
}

.colortext{
    color: green;
}

h1{
    color: orange;
    background-color: lightblue;
}

body{
    background-color: linen;
    background-image: url(background.gif);
}